@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: url(./img/background_info.png);
    background-size: cover;
    background-position: center;
    margin: 0;
    margin-bottom: 20px;
}

.container {
    position: relative;
    width: 950px;
    position: relative;
    background-color: #d4cdd8;
    border-radius: 28px;
    border: 1px solid #000000;
    color: #fff;
    padding: 30px 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-top: 20px;
}

.container h1 {
    font-size: 36px;
    margin-top: 10px;
    text-align: center;
    color: #000000;
    border-color: black;
    border: 50px;
}

.container h2 {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    color: black;
    border-color: black;
    border: 50px;
}

.container h3 {
    font-size: 26px;
    margin-top: 10px;
    text-align: center;
    color: black;
    border-color: black;
    border: 50px;
}

.jlb {
    margin-top: 90px;
}

.cal_logo {
    display: block;
    position: absolute;
    top: 20px;
    left: 830px;
    max-width: 100px;
    height: auto;
}

.local_map{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
}

.info_map{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.map {
    margin-top: 20px;
    width: 350px;   
    height: 250px;
}
